# Python environment & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local Environment Variables
.env
.env.*
!.env.example
